<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <% usersWithSecrets.forEach(function(user) { %>
      <% user.secret.forEach(function(secret) { %>
        <p class="secret-text"><%= secret %></p>
      <% }); %>
    <% }); %>

    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>